/* 1280 - 1920 */
@media screen and (max-width: 1919px) { 
.wrapper { width: 1253px; }
.main__ship-img img { width: 875px; }
.main__offer_link { margin: 0 5px 0 0; }
/*.main__offer figure {  margin: 0px 5px 0 0; }*/
.main__offer img { width: 309px; }
.main__about-ship { width: 870px; }
.main__about-ship_scheme img { width: 430px;}
.main__about-ship_zoom { top: 41%; }
.main__promo-foto_big img { width: 590px; }
.main__about-ship_table { font-size: 14px; }
.main__about-ship_schedule h2 {
    color: #dd233a;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    line-height: 24px;
    /*text-align: left;*/
    text-indent: 0;
    padding: 0 0 0 380px; }
}

/* 1024 - 1279 */
@media screen and (max-width: 1279px) { 
.wrapper { max-width: 997px; }
.header { width: 100%; }
.header__block-left,
.header__block-middle,
.header__block-right { height: 205px; }
.header__block-left i { font-size: 24px; padding: 170px 0 0 0; }
.header__block-middle button { font-size: 24px; border: 2px solid #cc3333; /*width: 290px; */}
/*.header__block-middle button:first-child { margin: 4% 0 0 11%; padding: 2% 3% 16% 2%; }*/
.header__block-middle button:first-child { margin: 4% 0 0 10%; padding: 2% 0.5% 16% 1%; }
/*.header__block-middle__btn-top span { left: 110px; }*/
/*.header__block-middle button:last-child { margin: 3% 0 0 11%; padding: 3% 2% 15% 2%; }*/
.header__block-middle button:last-child { margin: 3% 0 0 10%; padding: 3% 1% 15% 1%; }
/*.header__block-middle__btn-bottom span { left: 148px; }*/
.header__block-right_tagline { top: 31%; }
.header__block-right p:not(:last-child) { margin: 26% 0 0 15%; font-size: 24px;}
.header__block-right p:last-child { font-size: 28px; margin: 6% 0 0 12%; }
.header__block-right span {  font-size: 52px; }
.header__menu_menu-link { font-size: 18px; padding: 4% 0%; }
.header__menu_menu-link:first-child:before { height: 12px; }
.main { margin: 5px 0 5px 0; }
.main__menu { width: 300px; }
.main__menu_basic_link { font-size: 18px; line-height: 18px; }
.main__menu_basic_link:focus ~ .main__menu_nested { top: 8%; left: 100%;  }
.main__menu_basic_link_alignment { padding: 14px 0 14px 10px; }
.main__menu_nested_link { font-size: 14px; line-height: 18px; }
.main__ship-img img { width: 690px; height: 285px; }

.main__offer figure:last-child { margin: 0px 0 0 2px; }
.main__offer figure { margin: 0 8px 0 0; }
.main__offer figcaption { width: 243px; font-size: 14px; }
.main__offer img { width: 243px; height: 240px; }
.main__about-us { font-size: 24px; line-height: 30px; }
.footer { padding-bottom: 5px; }
.footer__top_menu { width: 65%; padding: 0 0 15px 0; }
.footer__nav { width: 215px; height: 185px; }
.footer__top_contact {  font-size: 28px; } 
.footer__copyright { width: 54%; margin: 5px 0 0 10%; }
.footer__bottom_social { font-size: 18px; }

.main__menu_basic_link:focus ~ .main__menu_nested_ship {
    display: block; 
	position: relative;	
	width: 100%;
	margin: 5px 0 0 0;
	padding: 0; 
	left: 0;
}
.main__menu_nested_link:hover ~ .main__menu_ship_nav {
	display: block;	
	position: relative;	
	width: 87%;	
}
.main__menu_ship_nav a { font-size: 14px; }
.main__menu_ship-list_marker:after { top: 27%; left: 200px; height: 12px; }
.vertical-scroll { left: 266px; }

.main__about-ship { width: 687px; }
.main__about-ship_scheme img { width: 338px; height: 310px; }
.main__about-ship_zoom { width: 45px; height: 45px; }
.main__about-ship_zoom:hover { width: 55px; height: 55px; }
.main__about-ship_description li:before { top: 7%; }
.main__about-ship_description li:last-of-type:before { top: 58%; }
.main__promo-foto_big img { width: 490px; height: 375px; }
.main__promo-foto_mini img { width: 190px; height: 120px; }
.main__promo-foto_strip { height: 25px; }
.main__promo-foto_strip span {  font-size: 18px; line-height: 24px }
.main__about-ship_schedule h2 { padding: 0 0 0 310px; }
}

/* 960 - 1024 */
@media screen and (max-width: 1023px) {
.wrapper { width: 933px;}
.header__block-left,
.header__block-middle,
.header__block-right { height: 175px; }
.header__block-left i { padding: 145px 0 0 0; font-size: 23px; }
.header__block-middle button { font-size: 18px;  padding: 2% 3% 15% 2%; /*width: 250px;*/ }
.header__block-middle button:first-child { margin: 4% 0 0 16%; }
.header__block-middle button:last-child { margin: 3% 0 0 16%; }
.header__block-middle__btn-top span { /*left: 85px;*/ width: 45px; height: 60px; }
.header__block-middle__btn-bottom span { /*left: 112px;*/ width: 40px; height: 55px; }
/*.header__block-right_tagline { top: 2.5%; }*/
.header__block-right p:not(:last-child) { margin: 23% 0 0 9%; }
.header__block-right p:last-child { font-size: 24px; margin: 6% 0 0 21%; }
.header__block-right span { font-size: 42px; }
.main__menu { width: 290px; }
.main__ship-img img { width: 635px; }
.main__offer_link { margin: 0 8px 0 0; }
.main__offer figure { margin: 0 11px 0 0; width: 225px; }
.main__offer figcaption { width: 225px; }
.main__offer img { width: 225px; }
.main__about-us { font-size: 18px; line-height: 24px; margin: 15px 0 0 0; }
.footer__top_menu { width: 69%; }
.footer__nav { width: 220px; height: 120px; font-size: 12px; line-height: 14px; }
.footer__nav:last-child { margin: -50px 0 10px 0; }
.footer__top_contact { margin: 1% 1% 0 0; font-size: 24px; }
.footer__top_contact address { font-size: 14px; line-height: 18px; }
.footer__copyright { width: 58%; margin: 5px 0 0 7%; }

.main__menu_ship-list_marker:after { left: 190px; }
.vertical-scroll { left: 256px; }

.main__about-ship { width: 633px; }
.main__about-ship h1 { font-size: 36px; }
.main__about-ship_scheme img { width: 100%; height: auto; }
.main__about-ship_scheme img:nth-child(even) { margin: 10px 0 0 0; position: relative; }
.main__about-ship_zoom { top: 70%; left: 50%; }
.main__about-ship_description li:last-of-type:before { top: 57%; }
.main__promo-foto_big { width: 100%; }
.main__promo-foto_big img { width: 100%; height: auto; }
.main__promo-foto_strip { height: 30px; }
.main__promo-foto_mini { float: left; margin: 5px 9px 0 0; }
.main__promo-foto_mini:last-of-type { float: right; margin: 5px 0 0 0; }
.main__promo-foto_mini img { width: 205px; height: 140px; }
.main__about-ship_schedule h2 { padding: 0 0 0 300px; }
}

/* 800 - 960 */
@media screen and (max-width: 959px) {
.wrapper { width: 773px; }
.header__block-left, 
.header__block-middle, 
.header__block-right { height: 135px; }
.header__block-left i { padding: 110px 0 0 0; font-size: 18px; }
.header__block-middle button { font-size: 14px; width: 195px;}
/*.header__block-middle button:first-child { margin: 2% 0 0 15%; padding: 2% 3% 16% 2%; }*/
.header__block-middle button:first-child { margin: 2% 0 0 15%; padding: 2% 2% 16% 2%; }
.header__block-middle__btn-top span { /*left: 63px;*/ width: 40px; height: 55px; }
.header__block-middle button:last-child { margin: 3% 0 0 15%; padding: 3% 2% 13% 2%; }
.header__block-middle__btn-bottom span { /*left: 90px;*/left:57%; width: 30px; height: 40px; }
/*.header__block-right_tagline { top: 3%; }*/
.header__block-right p:not(:last-child) { margin: 23% 0 0 17%; font-size: 18px; }
.header__block-right p:last-child { font-size: 18px; /*margin: 6% 0 0 15%;*/ }
.header__block-right span { font-size: 36px; }
.header__menu_menu-link { font-size: 14px; padding: 2% 0%; }
.main__menu { width: 230px; }
.main__menu_basic_link { font-size: 14px; }
/*.main__menu_basic_link:focus ~ .main__menu_nested { top: 26%; left: 27%; }*/
.main__ship-img img { width: 535px; }
.main__offer_link { margin: 0 4px 0 0; }
.main__offer figure:last-child { margin: 0 0 0 0px; }
.main__offer figure { margin: 0 4px 0 0; width: 190px; }
.main__offer figcaption { width: 190px; font-size: 12px; }
.main__offer img { width: 190px; height: 205px; }
.main__about-us { font-size: 14px; line-height: 18px; margin: 10px 0 0 0; }
.footer__top_menu { width: 63%; }
.footer__copyright { width: 61%; margin: 5px 0 0 0%; }
.footer__bottom p:last-child { margin: 0 37%; }
.footer__bottom_social { margin: 10px 2% 0 0; }
 
.main__menu_nested_link:hover ~ .main__menu_ship_nav { width: 82%;	}
.main__menu_ship-list_marker:after { left: 150px; }
.vertical-scroll { left: 195px; } 

.main__about-ship { float: left; width: 533px; }
.main__about-ship h1 { font-size: 30px; }
.main__about-ship h2 { font-size: 30px;}
.main__promo-foto_mini { width: 170px; height: 110px; }
.main__promo-foto_mini img { width: 100%; height: 110px; }
.main__promo-foto_mini > .main__promo-foto_strip span { padding: 0 0 0 38px; }
.main__about-ship_table { font-size: 12px; }
.main__about-ship_table, th, td { padding: 5px 4px; }
}

/* 768 - 800 */
@media screen and (max-width: 799px) {
.wrapper { width: 741px; }
.header__block-left, 
.header__block-middle, 
.header__block-right { height: 125px; }
.header__block-left i { padding: 100px 0 0 0; }
.header__block-middle button { border: 1px solid #cc3333; width: 175px; }
/*.header__block-middle button:first-child { margin: 2% 0 0 10%; padding: 2% 3% 14% 2%; }*/
.header__block-middle button:first-child { margin: 2% 0 0 10%; padding: 2% 2% 14% 2%; }
.header__block-middle button:last-child { padding: 3% 1% 13% 2%; margin: 3% 0 0 11%; }
.header__block-middle__btn-top span { /*left: 65px;*/ width: 35px; }
.header__block-middle__btn-bottom span { /*left: 85px;*/ width: 30px; }
.header__block-right p:not(:last-child) { margin: 22% 0 0 14%; }
.header__block-right p:last-child { font-size: 24px; margin: 5% 0 0 13%; }
.main__ship-img img { width: 505px; }
.main__offer_link { margin: 0 7px 0 0; }
.main__offer figure { margin: 0 7px 0 0; width: 180px; }
.main__offer figcaption {  width: 180px; font-size: 11px; }
.main__offer img { width: 180px; height: 200px; }
.footer__top_menu { width: 62%; }
.footer__nav { width: 215px; height: 125px; }
.footer__nav:last-child { margin: -50px 0 5px 0; }
.footer__top_menu { width: 61%; }
.footer__top_contact { margin: 1% 1% 0 0; }
.footer__copyright { margin: 5px 0 0 0; width: 64%; }
.footer__bottom_social { font-size: 14px; margin: 12px 2% 0 0; }
.footer__btn-social { width: 25px; height: 25px; }

.main__about-ship { width: 500px; }
.main__promo-foto_mini { width: 160px; height: 110px; margin: 5px 10px 0 0; }
.main__promo-foto_mini img { width: 100%; height: 110px; }
.main__about-ship_table, th, td { padding: 5px 2px; }
}

/* 640 - 767 */
@media screen and (max-width: 767px) {
.wrapper { width: 613px; }
.header__block-left, 
.header__block-middle, 
.header__block-right { height: 110px; }
.header__block-left i { padding: 85px 0 0 0; font-size: 14px; }
.header__block-middle button { font-size: 14px; border-radius: 4px; width: 171px; }
.header__block-middle button:first-child { padding: 2% 3% 14% 2%; }
.header__block-middle__btn-top span { /*left: 66px;*/ width: 30px; }
.header__block-middle__btn-bottom span { /*left: 87px;*/ width: 27px; top: 6px; }
/*.header__block-right_tagline { top: 4%; right: 2%; }*/
.header__block-right p:not(:last-child) { margin: 23% 0 0 16%; font-size: 14px; }
.header__block-right p:last-child { font-size: 18px; margin: 4% 0 0 13%; }
.header__block-right span { font-size: 30px; }
.header__menu_menu-link { font-size: 12px; }
.header__menu_menu-link:first-child:before { left: 9%; }
.main__menu { width: 100%; }
.main__menu_basic_link { font-size: 14px; line-height: 14px; }
.main__menu_basic_link:focus ~ .main__menu_nested { 
	display: block; 
	position: relative;	
	width: 100%;
	margin: 5px 0 0 0;
	padding: 0; 
	left: 0;
}
.main__menu_nested_link { padding: 5px 0 5px 25px; }
.main__menu_nested_link { font-size: 12px; line-height: 14px; }
.main__menu_basic_link_alignment { padding: 10px 0px 10px 8px; }
.main__ship-img { display: none; }
/*.main__ship-img img { width: 435px; height: 243px; }*/
.main__offer { margin: 5px 0 0 0; }
.main__offer_link { margin: 0 4px 0 0; }
.main__offer figure { margin: 0 4px 0 0; width: 150px; }
.main__offer figcaption { width: 150px; height: 20px; font-size: 12px; }
.main__offer img { width: 150px; height: 155px; }
.footer__top_menu { width: 64%; }
.footer__nav { width: 185px; font-size: 10px; line-height: 12px; height: 105px; }
.footer__top_contact { font-size: 18px; }
.footer__top_contact address { font-size: 10px; }
.footer__copyright { width: 89%; }
.footer__bottom_social span { display: none; }
.footer__bottom_social { margin: 5px 2% 0 0; }

.main__menu_nested_link:hover ~ .main__menu_ship_nav { width: 92%; }
.main__menu_ship-list_marker:after { left: 500px; }
.vertical-scroll { left: 578px; }

.main__about-ship { margin: 0; width:100%; }
.main__about-ship_zoom { display: none; }
.main__promo-foto_mini { width: 197px; height: 130px; margin: 10px 10px 0 0; }
.main__promo-foto_mini:last-of-type { margin: 10px 0 0 0; }
.main__promo-foto_mini img { height: 130px; }
.main__about-ship_schedule h2 { padding: 0; }

.main__about-ship_table { font-size: 10px; }
.main__about-ship_table, th, td { padding: 5px 0px; }
}

/* 600 - 640 */
@media screen and (max-width: 639px) {
.wrapper { width: 573px; }
.header__block-left, 
.header__block-middle, 
.header__block-right { height: 110px; }
.header__block-left i { padding: 80px 0 0 0; }
.header__block-middle button:first-child { padding: 2% 1% 15% 2%; }
.header__block-middle button:last-child { margin: 3% 0 0 10%; padding: 3% 1% 14% 1%; }
.header__block-right_tagline { right: 1%; }
.header__block-right p:not(:last-child) { margin: 25% 0 0 13%; }
.header__block-right p:last-child { margin: 4% 0 0 8%; }
.header__menu_menu-link:first-child:before { left: 7%; top: 38%; }
.main__offer figure { width: 140px; }
.main__offer figcaption { width: 140px; }
.main__offer img { width: 140px; height: 150px;}
.footer__top_menu { width: 34%; float: right; padding: 15% 8%; margin: 0 5% 0 0; }
.footer__nav { display: none; }
.footer__top_contact { float: left; margin: 1% 0 1% 1%; }
.footer__top_contact address { font-size: 12px; }
.footer__copyright { width: 60%; margin: 5px 0 0 75px; }
.footer__bottom p:last-child { margin: 0 0; }
.footer__bottom_social { margin: 0 2% 0 0; }
.footer__btn-social { width: 50px; height: 50px; }

/*.main__menu_ship_nav { width: 93%; }*/
.main__menu_ship-list_marker:after { left: 480px; }
.vertical-scroll { left: 538px; }

.main__about-ship_description h2 { font-size: 24px; }
.main__about-ship_img h2 { font-size: 24px; }
.main__about-ship_schedule h2 { font-size: 24px; }
.main__promo-foto_mini { width: 187px; height: 115px; margin: 5px 5px 0 0; }
.main__promo-foto_mini:last-of-type { margin: 5px 0 0 0; }
.main__promo-foto_mini img { height: 115px; }

.main__about-ship_schedule { max-width: 600px; display: block; overflow-x: scroll; }
.main__about-ship_table, th, td { padding: 5px 0px; }
}

/* 480 - 600 */
@media screen and (max-width: 559px) {
.wrapper { width: 453px; }
.header{ background: transparent url(../img/compass.png) 0% 12% no-repeat;
		 background-size: contain;
		 background-attachment: fixed; }
.header__block-left, 
.header__block-middle, 
.header__block-right { width: 100%;}
.header__block-left { background-position: 60% 0 }
.header__block-left i { padding: 25% 0 0 19%; font-size: 24px }
.header__block-middle { float: right; background: none; }
.header__block-middle button { font-size: 24px;  }
/*.header__block-middle button:first-child { margin: 20% 20% 0 20%; padding: 0 3% 5% 2%; }*/
.header__block-middle button:first-child { width:100%; margin: 20% 0 0 0; padding: 0 3% 5% 2%; }
.header__block-middle__btn-top span { top: 5%; /*left: 116px;*/left:47%; width: 35px; height: 45px; }
/*.header__block-middle button:last-child { margin: 2% 20% 0 20%; padding: 0% 3% 4% 2%; }*/
.header__block-middle button:last-child { width:100%; margin: 2% 0 0 0; padding: 0% 3% 4% 2%; }
.header__block-middle__btn-bottom span { /*top: 10px;*/ top: 15%;/*left: 165px;*/ left: 56%; width: 35px; height: 38px; }
.header__block-right { float: left; height: 100px;}
.header__block-right span { font-size: 36px; }
/*.header__block-right_tagline { top: 9%; width: 78%; left: 10%; }*/
.header__block-right_tagline { display: none; }
.header__block-right p:not(:last-child) { margin: -18% 0 0 25%; font-size: 18px; }
/*.header__block-right p:last-child { margin: 2% 0 0 24%; font-size: 24px; }*/
.header__block-right p:last-child { margin: 3% 0 0 23%; font-size: 24px; }
.header__block-right { background: none; }
.header__menu_btn-hidden { 
	float: left;	
	display: block;
	width: 100%;
	height: 31px;
	background-color: #dd233a;	
	border-radius: 5px; }
.header__menu_btn_container { margin: 0 auto;	width: 10%; }
.header__menu_btn-hidden_stripe {
	margin: 4px 0;	
	height: 5px;
	background-color: #ffffff;
	border-radius: 5px; }
.header__menu { display: none; }
.header__menu_btn-hidden:hover { cursor: pointer; background-color: #0077a2; }
.header__menu_menu-link:first-child:before { display: none; }
.header__menu li { min-width: 55%; }
.header__menu li:first-child { padding-left: 20px; }
.main__menu { width: 100%; }
.main__ship-img { display: none; }

.main__offer_link:first-child { margin: 0 13px 5px 0; }
.main__offer_link:last-child { margin: 0 0 5px 0; }
.main__offer_link { margin: 0 0 5px 0; }
.main__offer figure { width: 220px; margin: 0 0 10px 0; }
.main__offer figure:nth-child(even) { float: right;  }
.main__offer figcaption { width: 220px; font-size: 14px; }
.main__offer img { width: 220px; height:240px; }
.main__about-us { margin: 0px 0 0 0; }
.footer__top_menu { width: 28%; padding: 18% 7%; }
.footer__copyright { width: 61%; margin: 5px 0 0 55px; }
.footer__bottom_social { margin: 1% 2% 0 0; }

.main__menu_nested_link:hover ~ .main__menu_ship_nav { width: 91%; }
.main__menu_ship-list_marker:after { left: 460px; }
.vertical-scroll { left: 518px; }


.main__menu_ship-list_marker:after { left: 365px; }
.vertical-scroll { left: 419px; }

.main__about-ship h1 { font-size: 24px; }
.main__promo-foto_mini { width: 147px; height: 100px;}
.main__promo-foto_mini img { height: 100px; }
.main__promo-foto_strip { height: 20px; }
.main__promo-foto_strip span {  font-size: 14px; line-height: 21px; margin: 0 0 0 -10px;}
.main__promo-foto_strip span:before { top: 25%; width: 25px; height: 10px; }


.main__about-ship_schedule { max-width: 453px; display: block; overflow-x: scroll; }
}

/* 320 - 479 */
@media screen and (max-width: 479px) {
.wrapper { width: 290px; }
.header__block-left i { padding: 39% 0 0 0%; }
.header__block-right { height: 105px; }
.header__block-right p:not(:last-child) { margin: -28% 0 0 10%; }
.header__block-right p:last-child { margin: 4% 0 0 15%; font-size: 18px; }
.header__block-middle button:first-child { width: 100%; margin: 34% 0 0 8%; padding: 1% 1% 7% 2%; }
.header__block-middle button:last-child { width: 100%; margin: 2% 0 0 8%; padding: 1% 1% 6% 2%;  }
.header__block-middle__btn-bottom span { left: 61%;}
.header__menu li:first-child { padding-left: 13px; }
.main__offer_link:first-child { margin: 0 0px 5px 0; }
.main__offer figure { width: 100%; margin: 0 0 5px 0; }
.main__offer figcaption { width: 100%; font-size: 18px; }
.main__offer img { width: 100%; height: 325px; }
.main__about-us { margin: 5px 0 0 0; font-size: 18px; line-height: 24px; }
.footer__top_menu { width: 53%; padding: 28% 8%; }
.footer__top_contact { margin: -52% 0 1% 2%; }
.footer__copyright { margin: 5px 0 0 0; }
.footer__bottom_social { margin: 4% 2% 0 0; }


.main__menu_nested_link:hover ~ .main__menu_ship_nav { width: 87%; }
.main__menu_ship_nav a { padding: 0 0 0 20px; }
.main__menu_ship-list_marker:after { left: 200px; }
.vertical-scroll { left: 255px; }

/*.main__about-ship { width: 90%; }*/
.main__about-ship h1 { font-size: 18px; }
.main__about-ship_description h2 { font-size: 18px; line-height: 18px; }
.main__about-ship_description {
    font-size: 14px;
    line-height: 24px;
    text-indent: 10px; }
.main__about-ship_img h2 { font-size: 18px; line-height: 18px; }
.main__about-ship_description li:before { height: 15px; top: 5%; }
.main__about-ship_description li:last-of-type:before { top: 55%; }
.main__about-ship_description ul { font-size: 14px; line-height: 24px; text-indent: 20px; }
.main__promo-foto_mini { width: 290px; height: 180px; float: left; margin: 5px 0 0 0; }
.main__promo-foto_mini img { height: 180px; }

.main__about-ship_schedule { max-width: 320px; }
}
