html, body {
	margin: 0 auto;
	padding: 0px;	
    width: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #000000;
	position: relative;
}
.wrapper {
	margin: 0 auto;	
	width: 1280px;	
	height: auto;
	overflow: hidden;
	position: relative;
	background: transparent;	
}
a {
	text-decoration: none; 
	color: #ffffff;
}
.clearfix {
    content: "";
    display: table;
}
.header {	
	font-size: 0px;
	font-weight: normal;
	line-height: 18px;
	color: #0077a2;
}
.header__block-left,
.header__block-middle,
.header__block-right {
	width: 30%;
    height: 210px;
    margin: 0 0 0 0;
}
.header__block-left {	
	float: left;
	background: transparent url("../img/logo_left.png") no-repeat;
	background-size: contain;
}
.header__block-left i { 
	font-size: 32px;
	font-weight: normal;
	font-style: normal;	
	float: left;
	padding: 178px 0 0 0;
}
.header__block-middle {
	float: left;
	background: transparent url("../img/anchor.png") no-repeat;
	background-size: contain;
}
.header__block-middle button {
	font-size: 26px;
	font-weight: normal;
	color: #0077a2;
	border: 3px solid #cc3333;
	border-radius: 10px;
	background-color: transparent;
	display: inline-block;
	position: relative;
}
.header__block-middle button:first-child {
	margin: 4% 0 0 15%;
	padding: 2% 3% 12% 2%;
}
.header__block-middle__btn-top span {
	content:"";
	position: absolute;
	left: 128px;
    top: 4px;
    width: 60px;
    height: 75px;;	
	background: transparent url("../img/phone.png") no-repeat;
	background-size: contain;	
}
.header__block-middle button:last-child {
	margin: 3% 0 0 15%;
	padding: 3% 2% 11% 2%;
}
.header__block-middle__btn-bottom span {
	content:"";
	position: absolute;
	left: 165px;
    top: 10px;
    width: 60px;
    height: 70px;;	
	background: transparent url("../img/finger.png") no-repeat;
	background-size: contain;	
}
.header__block-middle button:hover {
	cursor: pointer;	
}
.header__block-middle button:active {
	border-color: #dd233a;
}
.header__block-right {
	float: right;
	width: 40%;
	background: transparent url("../img/compass.png") no-repeat;
	background-size: cover;
}
.header__block-right_tagline {
	content: "";
    position: absolute;
    right: 0;
    top: 2.5%;
    width: 38%;
    height: 40px;
    background: transparent url("../img/tagline.png") no-repeat;
    background-size: contain;
}
.header__block-right p:not(:last-child) {
	font-size: 28px;
	font-weight: normal;
	font-style: italic;
	margin: 20% 0 0 23%;
}
.header__block-right p:last-child {
	font-size: 32px;
	font-weight: bold;
	font-style: italic;
	margin: 6% 0 0 16%;
	vertical-align: bottom;
}
.header__block-right span {
	color: #cc3333;
	font-size: 64px;
}
.header__menu_btn-hidden { 
	display: none;
}
.header__menu {
	float: left;
	width: 100%;
	background-color: #dd233a;
	border-radius: 5px;
}
.header__menu ul {
	padding: 0;	
	position: relative;
	text-transform: uppercase;	
    text-align: center;
}
.header__menu li {
	display: inline-block;
	/*min-width: 17%;*/
	/*width: 220px;*/
	margin: 0 0 0 4%;
}
.header__menu li:first-child { 
	margin: 0;
	padding: 0;
}
.header__menu_menu-link {
	display: block;
	font-size: 24px;
	font-weight: normal;
	line-height: 24px;
	font-family: "Roboto", sans-serif;	
	padding: 6% 0%
}
.header__menu_menu-link:first-child:before {
	content: "";
    position: absolute;
    left: 10%; 
    top:35%;   
    width: 1%;
    height: 20px;
    background: transparent url("../img/arrow-left.png") no-repeat;
    background-size: contain;
}
/*.header__menu li:hover  {
    background-color: #f50f0f;
}*/
.header__menu a:hover  {
    color: #babbbd;
}
/*------------------------------------*/
.main {
	color: #000000;
	font-size: 0px;
	margin: 10px 0 10px 0;
}
.main__menu {	
	float: left;
	width: 370px;	
}
.main__menu_basic {
	list-style-type: none;
	padding: 0;
	margin: 0;		
	position: relative;
}
.main__menu_basic li {
	margin: 0 0 5px 0;
}
.main__menu_basic li:last-child {
	margin: 0 0 0 0;
}
.main__menu_basic_link {	
    background-color: #dd233a;
    border-radius: 5px;
    font-size: 18px;
	font-weight: normal;
	font-style: normal;	
	line-height: 24px;
	color: #ffffff;
	display: block;
	padding: 5px 0 5px 10px;
}
.main__menu_basic_link_alignment {
	padding: 17px 0 17px 10px;
}
.main__menu_basic_link:hover {	
	background-color: #0077a2;
}
.main__menu_nested {
	display: none;
} 
.main__menu_basic_link:focus ~ .main__menu_nested {
	display: block;
	/*position: fixed;*/
	position: absolute;
    /*left: 35%;
    top: 30%;*/
    left: 100%;
    top: 5%;
    list-style-type: none;
    width: 100%;
}
.main__menu_nested_link {		
	font-size: 18px;
	font-weight: normal;
	font-style: normal;	
	line-height: 24px;
	background-color: #2f8cad;
	opacity: 0.7;
	display: block;
	padding: 5px 15px;
    border-radius: 5px;
}
.main__menu_nested_link:hover {
	background-color: #2f8cad;
	opacity: 1;
}
/*---Меню с теплоходами-----------*/
.main__menu_basic_link:focus ~ .main__menu_nested_ship {
	display: block;
	position: relative;
	left: 0%;
	top: 0%;
	margin: 5px 0;
    padding: 0;
}
.main__menu_ship_nav {
	display: none;
}
.main__menu_nested_link:hover ~ .main__menu_ship_nav {
	display: block;	
	position: relative;		
	margin: 5px 0;
	padding: 0;
	list-style-type: none;
	width: 325px;
}
.main__menu_ship_nav li {
	border: 2px solid #dd233a;
	border-radius: 5px;
	padding: 3px 0 3px 10px;
}
.main__menu_ship_nav a {
	font-size: 18px;
	font-weight: normal;
	font-style: normal;	
	line-height: 24px;
	color: #2f8cad;
	margin: 0;	
	position: relative;
}
.main__menu_ship_nav a:hover {
	opacity: 0.7;
}
.main__menu_ship-list_marker:after {
	content: "";
    position: absolute;
    left: 255px; 
    top: 15%;   
    width: 35px;
    height: 18px;
    background: transparent url("../img/arrow-ship.png") no-repeat;
    background-size: contain;
}
.vertical-scroll {
	display: block;
	float: right;
	background-color: #dd233a;
	width: 20px;
	height: 180px;
	position: absolute;
    left: 330px;
    top: 0px;
}
.vertical-scroll_arrow-top,
.vertical-scroll_arrow-bottom {
	background-color: #ffffff;
	width: 30px;
	height: 30px;
	margin:0;
	position: absolute;
	border-radius: 5px;
}
.vertical-scroll_arrow-top {
	top: 0;
	left: 0;
	background: #ffffff url("../img/arrow-up.png") no-repeat;
    background-size: contain;
}
.vertical-scroll_arrow-bottom {
	bottom: 0;
	left: 0;
	background: #ffffff url("../img/arrow-down.png") no-repeat;
    background-size: contain;
}
.vertical-scroll_slider {
	background-color: #ffffff;
	width: 30px;
	height: 15px;
	margin:0;
	position: absolute;
	top: 35px;
	left: 0;
}
/*---Конец меню с теплоходами-----*/
.main__ship-img {
	float: right;
}
.main__ship-img img {
	border-radius: 5px;
}
.main__offer {
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0;
}
.main__offer figure {
	display: inline-block;
	margin: 0 13px 0 0;
	padding: 0;
	/*opacity: 0.5;*/
}
.main__offer figure:last-child {
	margin: 0 0 0 0px;
	float:right;
}
.main__offer figure:hover {	
	cursor: pointer;
	opacity: 1;
}
.main__offer figcaption {
	width: 100%;
	background-color: #0077a2;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 11px 0 11px 0;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;	
	color: #ffffff;
	text-align: center;
}
.main__offer img {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	opacity: 0.5;
}
.main__offer img:hover {
	opacity: 1;
}

.main__about-us {
	float: left;
	color: #000000;
	font-size: 28px;
	font-weight: lighter;
	font-style: normal;
	line-height: 36px;
	margin: 20px 0 0 0;
}
.main__about-us p {
	text-indent: 20px;
	margin: 0;
}
/*---Страница с теплоходами-----------*/
.main__about-ship {
	width: 900px;
	float: right;	
	margin: 0 0 0 10px;
}
.main__about-ship section {

	float: left;	
}
.main__about-ship_scheme {
	width: 100%;
}
.main__about-ship h1 { 
	color: #0077a2;
	font-size: 42px;
	font-weight: bold;
	line-height: 12px;
	text-align: center;
}
.main__about-ship h2 { 
	color: #dd233a;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: normal;
	line-height: 24px;
	text-align: left;	
    text-indent: 0;
}
.main__about-ship_scheme img {
	box-sizing: border-box;	
}
.main__about-ship_scheme img:last-of-type {
	margin: 0 0 0 10px;
	border: 3px solid #0077a2;
	border-radius: 5px;
	position: relative;
}
.main__about-ship_zoom {
	content: "";
	position: absolute;
	background: transparent url("../img/zoom.png") no-repeat;
	background-size: contain;
	left: 81%;
    top: 21.5%;
    width: 60px;
    height: 60px;
}
.main__about-ship_zoom:hover {
	cursor: pointer;
	width: 70px;
    height: 70px;
}
.main__about-ship_description  {	
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	line-height: 36px;
	text-indent: 50px;
}
.main__about-ship_description p {
	margin: 0;
}
.main__about-ship_description ul {
	margin: 0;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	line-height: 36px;
    position: relative;
}
.main__about-ship_description li {
	list-style-type: none;
}
.main__about-ship_description li:before {
	content: "";
	position: absolute;
	background: transparent url("../img/arrow-ship.png") no-repeat;
	background-size: contain;
	width: 40px;
    height: 20px;
    left: 3%;
    top: 15%;
}
.main__about-ship_description li:last-of-type:before {
	top: 65%;
}
.main__about-ship_img img {
	box-sizing: border-box;
}
.main__promo-foto_big {
	float: left;
	position: relative;
}

.main__promo-foto_mini {
	float: right;
	position: relative;
}
.main__promo-foto_mini {
	margin: 0 0 7px 0;
}
.main__promo-foto_mini:last-child {
	margin: 0 0 0 0;
}
.main__promo-foto_strip {
	width: 100%;
	position: absolute;
	bottom: 0px;
	opacity: 0.5;
	background-color: #ffffff;
	height: 30px
}
.main__promo-foto_strip span {
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 28px;
	color: #0077a2;
	padding: 0 0 0 45px;	
}
.main__promo-foto_strip span:before {
	content: "";
	position: absolute;
	background: transparent url("../img/arrow-ship.png") no-repeat;
	background-size: contain;
	width: 30px;
    height: 15px;
    left: 2%;
    top: 23%;
    z-index: 9999;
}
.main__about-ship_schedule {
	width: 100%;
}
.main__about-ship_table {
	width: 100%;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-align: center;
	color: #ffffff;	
	background-color: #dd233a;
	border-collapse: collapse;
}
.main__about-ship_table, th, td {
	border: 2px solid white;
	padding: 5px 5px;
}
.main__about-ship_table_data {
	background-color: #0077a2;
	padding: 5px 5px;
}
/*------------------------------------*/
.footer {
	/*min-width: 100%;*/
	color: #ffffff;
}
.footer__top {
	min-width: 100%;
	background-color: #0077a2;
	border-radius: 5px;
}
.footer__top_menu {
	float: left;
	width: 70%;
	position: relative;
	background: transparent url("../img/globus.png") 95% 0 no-repeat;
	background-size: contain;
}
.footer__nav {
	font-size: 14px;
	font-weight: lighter;
	font-style: normal;	
	line-height: 18px;
	list-style-type: none;
	float: left;
	width: 245px;
	height: 180px;
}
.footer__nav ul { 
	padding: 0 0 0 10px;
}
.footer__nav li {
	list-style-type: none;
}
.footer__nav li:first-child:before {
	content: " ";	
}
.footer__nav li:first-child {
	font-weight: bold;
	/*padding: 0 0 0 7px;*/
}
.footer__nav li:not(:first-child):before {
	/*content: ">";*/
	padding: 0 1px 0 0;
}

.footer__nav_link:hover {
	text-decoration: underline;
}
.footer__top_contact {
	float: right;
	margin: 1% 2% 0 0;
	font-size: 30px;
    font-weight: lighter;
    font-style: normal;
}
.footer__top_contact address {	
	font-size: 16px;
    font-weight: lighter;
    font-style: normal;
    line-height: 24px;
    margin: 1% 0 0 0;
}
.footer__top_contact a:hover {
	text-decoration: underline;
}
.footer__bottom {
	min-width: 100%;
	background-color: #dd233a;
	border-radius: 5px;
	padding: 5px 0;
}
.footer__copyright {
	float: left;
	width: 50%;
	margin: 5px 0 0 20%;
	text-align: center
}
.footer__bottom p {
	font-size: 12px;
	font-weight: lighter;
	line-height: 14px;	
}
.footer__bottom p:first-child { margin: 0 auto; }
.footer__bottom p:last-child { margin: 0 38%; }
.footer__bottom_social {
	float: right;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;	
	margin: 5px 2% 0 0;
}
.footer__btn-social {
	width: 50%;
	width: 30px;
	height: 30px;
	display: inline-block;
    vertical-align: middle;
	background-size: cover;
}
.footer__btn-social_vk {
	background: transparent url("../img/vk.png") no-repeat;
	background-size: cover;
}
.footer__btn-social_fb {
	background: transparent url("../img/fb.png") no-repeat;
	background-size: cover;
}
.footer__btn-social:hover {
	opacity: 0.5;
} 